<div class="posts">
  {{#each posts}}
  <div class="post">
    <div class="title-default">
        <h3>{{title}}</h3>
    </div>
    <p class="post-content">{{content}}</p>
    <div class="post-image">
      <img src="/image/{{image}}" alt="{{image}}" style="max-width: 800px" />      
    </div>
    <div class="post-info">
      <p><b>User: </b>{{user.name}} | {{user.email}}</p>
      <p>{{formatDate createdAt day="numeric" month="long" year="numeric"}}</p>
    </div>
  </div>
  <div class="line-page">&nbsp;</div>
  
  {{/each}}
</div>