<div class="posts">
  <div id="search-posts">
    <form action="/posts" method="GET">
      <a href="/posts">LIMPAR</a>      
      <input type="text" name="q" placeholder="Buscar..." minlength="3">
      <select name="f" id="">
        <option value="title" selected>TÍTULO</option>
        <option value="content">CONTEÚDO</option>        
        <option value="email">E-MAIL</option>                           
      </select>
      <button>
        <i class="fa fa-search fa-lg custom" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  {{#unless posts}}
    <div style="width: 400px; margin: 100px auto; text-align: center;">
      <h3 style="text-transform: uppercase; color: #de4f4f;">Sem nada até o momento</h3>      
    </div> 
  {{/unless}}
  {{#each posts}}
  <div class="post">
    <div class="title-default">
        <h3>{{title}}</h3>
    </div>
    <p class="post-content">
      {{content}}
      {{{isDelete id user.id}}}
    </p>
    <div class="post-image">
      <img src="/image/{{image}}" alt="{{image}}" style="max-width: 800px" />   
    </div>
    <div class="post-info">
      <p><b>User: </b>{{user.name}} | {{user.email}}</p>
      {{{ createdAt }}}
      {{!-- <p>{{formatDate createdAt day="numeric" month="long" year="numeric"}}</p> --}}
    </div>
  </div>
  <div class="line-page">&nbsp;</div>
  
  {{/each}}
</div>