<div style="width: 400px; margin: 100px auto; text-aling: center">
<div><b>NOME:</b> {{user.name}}</div>
<div><b>EMAIL:</b> {{user.email}}</div>
<div><b>RUA:</b> {{address.rua}}</div>
<div><b>ESTADO:</b> {{address.estado}}</div>
<div><b>CIDADE: </b> {{address.cidade}}</div>
<div><b>CEP:</b> {{address.cep}}</div>
</div>